<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Qiaosheng Chen@Websoft,NJU" />
    <title>全国公共数据一站式搜索</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/static/img/websoft.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/static/css/index-styles.css}" />
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container position-relative mt-5">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5 text-success">全国公共数据一站式搜索</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-center mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="card-body">
                                <h3 class="card-title text-success" th:text="${provinceCount}"></h3>
                                <p class="card-text">覆盖的省级行政区</p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="card-body">
                                <h3 class="card-title text-success" th:text="${cityCount}"></h3>
                                <p class="card-text">接入的公共数据开放平台</p>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="card-body">
                                <h3 class="card-title text-success" th:text="${totalCount}"></h3>
                                <p class="card-text">索引的数据集</p>
                            </div>
                        </div>
                    </div>
                </div>


                <form class="row" action="/cn-public/dosearch" method="post">
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" type="search" placeholder="山东省教师资格认定"
                                aria-label="Search" name="query">
                        </div>
                        <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton"
                                type="submit">搜索</button></div>
                    </div>
                </form>

                <div class="container mt-5">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start"
                                th:each="news:${newsList}">
                                <div class="ms-2 me-auto" th:inline="text">
                                    <div class="fw-bold" th:text="${news.title()}"></div>
                                    [[${news.detail()}]]
                                </div>
                                <span class="badge bg-primary rounded-pill" th:text="${news.date()}"></span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="border-top mt-auto">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                    <a href="http://ws.nju.edu.cn/">
                        <img alt="" class="bi" width="50" height="50" th:src="@{/static/img/logo-websoft.png}">
                    </a>
                    <div class="lead text-center text-muted">南京大学万维网软件研究组</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/static/js/index-scripts.js}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>